/**
 * @file
 *   CSS for the Message Toggle module.
 */

div.messages.message-toggle-expanded,
div.messages.message-toggle-collapsed {
  margin: 20px 15px;
  position: relative;
  padding-right: 45px;
}

.message-toggle {
  display: block;
  position: absolute;
  top: 3px;
  right: 9px;
  color: #4897b9;
  padding: 2px 4px 0;

  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
}

div.message-toggle-collapsed {
  height: 13px;
  padding: 0;
  border: 0;
}

.message-toggle-collapsed .message-toggle {
  right: 6px;
}

.message-toggle-collapsed .message-toggle {
  background-color: #fff;
}

.status-wrapper .message-toggle-collapsed {
  border-bottom: 1px solid #be7;
}

.status-wrapper .message-toggle-collapsed .message-toggle {
  border: 1px solid #be7;
  background-color: #f8fff0;
}

.warning-wrapper .message-toggle-collapsed {
  border-bottom: 1px solid #ed5;
}

.warning-wrapper .message-toggle-collapsed .message-toggle {
  border: 1px solid #ed5;
  background-color: #fffce5;
}

.error-wrapper .message-toggle-collapsed {
  border-bottom: 1px solid #ed541d;
}

.error-wrapper .message-toggle-collapsed .message-toggle {
  border: 1px solid #ed541d;
  background-color: #fef5f1;
}
